parameters:
	level: 8

	excludePaths:
		- /tests/tmp/*
		- /db/*

	fileExtensions:
		- php

	ignoreErrors:
		# App/Model/Database/TRepository
		- '#Property App\\Model\\Database\\Entity\\.*::\$id \(int\) does not accept null.#'
includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
