parameters:
	excludes_analyse:
		- /tests/tmp/*
		- /db/*

	fileExtensions:
		- php

	ignoreErrors:
		# App/Model/Database/TRepository
		- '#Method App\\Model\\Database\\EntityManager::getUserRepository\(\) should return App\\Model\\Database\\Repository\\[a-zA-Z]+Repository but returns Doctrine\\ORM\\EntityRepository<App\\Model\\Database\\Entity\\[a-zA-Z]+>.#'
		- '#Property App\\Model\\Database\\Entity\\.*::\$id \(int\) does not accept null.#'
includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
