# Extension > Contributte
#
extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension
	events: Contributte\EventDispatcher\DI\EventDispatcherExtension
	events2nette: Contributte\Events\Extra\DI\EventBridgesExtension
	monolog: Contributte\Monolog\DI\MonologExtension
	mailing: Contributte\Mailing\DI\MailingExtension
	post: Contributte\Mail\DI\MailExtension

console:
	url: http://localhost/
	lazy: true

mailing:
	template:
		config:
			layout: %appDir%/resources/mail/@layout.latte

monolog:
	holder:
		enabled: true
	channel:
		default:
			handlers:
				- Monolog\Handler\RotatingFileHandler(%appDir%/../log/syslog.log, 30, Monolog\Logger::WARNING)
			processors:
				- Monolog\Processor\WebProcessor()
				- Monolog\Processor\IntrospectionProcessor()
				- Monolog\Processor\MemoryPeakUsageProcessor()
				- Monolog\Processor\ProcessIdProcessor()

post:
	debug: false
	mailer: Nette\Mail\SmtpMailer(%smtp%)
