# Extension > Nettrine
#
extensions:
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

nettrine.dbal:
	debug:
		panel: %debugMode%
	connections:
		default:
			driver: %database.driver%
			host: %database.host%
			user: %database.user%
			password: %database.password%
			dbname: %database.dbname%
			port: %database.port%
			serverVersion: "16.0"

nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator
			autoGenerateProxyClasses: %debugMode%
			lazyNativeObjects: true
			mapping:
				App\Domain:
					type: attributes
					directories: [%appDir%/Domain]
					namespace: App\Domain

nettrine.migrations:
	table: doctrine_migrations
	column: version
	connection: default
	manager: default
	directories:
		Database\Migrations: %rootDir%/db/Migrations

nettrine.fixtures:
	paths:
		- %rootDir%/db/Fixtures
