{layout '../../Base/templates/@layout.latte'}

{block #head}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" defer />
	<link rel="stylesheet" href="{$basePath}/assets/admin.css" defer />
	<script src="{$basePath}/assets/admin.js" defer></script>
{/block}
