# Core Config
includes:
	# Application
	- ../app/parameters.neon
	- ../app/services.neon

	# Extensions
	- ../ext/contributte.neon
	- ../ext/nettrine.neon

php:
	date.timezone: Europe/Prague
	output_buffering: 4096

# Nette section
session:
	autoStart: smart
	#cookieDomain: '?->getUrl()->getDomain(4)'(@Nette\Http\IRequest)
	cookieHttponly: true
	#cookiePath: '?->getUrl()->getBasePath()'(@Nette\Http\IRequest) # Cookie path same as $basePath
	cookieSamesite: Lax
	debugger: false
	expiration: 1 year
	name: SID
	#savePath: %tempDir%/session
	sidBitsPerCharacter: 6 # 4-6
	sidLength: 128 # 22-250
	useCookies: true
	useOnlyCookies: true
	useStrictMode: true

http:
	cookieSecure: auto

application:
	catchExceptions: %productionMode%
	errorPresenter: %system.error.presenter%
	mapping:
		Admin: [App\UI\Modules\Admin, *, *\*Presenter]
		Front: [App\UI\Modules\Front, *, *\*Presenter]
		Mailing: [App\UI\Modules\Mailing, *, *\*Presenter]
		Pdf: [App\UI\Modules\Pdf, *, *\*Presenter]

di:
	debugger: true

tracy:
	email: %system.error.email%
	logSeverity: E_ALL
	strictMode: yes
