# Host Config
parameters:

	# Database
	database:
		host: 0.0.0.0
		dbname: contributte
		user: contributte
		password: contributte

# For 0.0.0.0 instead of localhost
# php -S 0.0.0.0:8000 -t www
#	session:
#		cookieDomain: "?->getUrl()->getDomain(4)"(@Nette\Http\IRequest)

# STMP server
# E.q. mailtrap is cool.
#	smtp:
#		host: smtp.mailtrap.io
#		username: "***"
#		password: ***
#		port: 2525
