# Test Config
includes:
	- base.neon


# Post/Mailing ===============
post:
	mailer: Contributte\Mail\Mailer\FileMailer(%appDir%/../tests/tmp/mails)


# Nettrine ===================
orm:
	configuration:
		autoGenerateProxyClasses: ::constant(Doctrine\Common\Proxy\AbstractProxyFactory::AUTOGENERATE_FILE_NOT_EXISTS)

orm.cache:
	defaultDriver: array

orm.annotations:
	cache: Doctrine\Common\Cache\ArrayCache


# Services ===================
services:
	security.userStorage:
		class: Tests\Toolkit\Nette\DummyUserStorage


# Parameters =================
parameters:
	database:
		driver: pdo_sqlite
		host: test
		dbname: test
		user: test
		password: test
